<center>
<%= stylesheet_link_tag "users" %>

	<div class="main col-lg-10">
		<div class="show_user_head border-15 main col-lg-4">
			<% provide(:title, "Profil utilisateur") %>

				<p class="titre-dark"> <%= @user.first_name %> <%= @user.last_name %></p>
				<p>
					<%= @user.age %></p>
			</div>
			<div class="container col-lg-10">
				<div class="presentation border-15 col-lg-5">
 					 <div class="card-body">
 					   <h2>Présentation</h2>
 					   <p class="card-text"><%= @user.description %></p>
 					</div>
				</div>
				<div class="contact border-15 col-lg-5">
 					 <div class="card-body">
 					   <h2>Contact</h2>
 					   <p class="card-text"><%= @user.email %></p>
 					</div>
				</div>
			</div>
			<%= link_to "Editer", edit_user_registration_path, class:"btn btn-primary" %>
			<%= link_to "Deconnexion", destroy_user_session_path, method: :delete, class:"btn btn-primary" %>
			<br><br>
		</div>
	<center>
