<div class="container">


	<%= stylesheet_link_tag "users" %>

	<div class="card-container border shadow-lg p-4 col-md-10 col-sm-10 col-lg-10">
		 <div >
				<%if @user.avatar.attached?%>
					<%= image_tag @user.avatar, alt: 'avatar', class:'img-fluid circle-avatar-user' %>
				<% else %>
					<div class="container-avatar ">
						<div class="circle-avatar-user"></div>
					</div>
				<% end %>

				<% if current_user == @user %>
					<%= form_tag user_avatars_path(@user), multipart: true do %>
					<span class="btn btn-large btn-warning btn-file">
						<%if @user.avatar.attached?%>
							Modifie ta photo
						<% else %>
							Rajoute une photo
						<% end %>
						<%= file_field_tag :avatar %>
					</span>
					<%= submit_tag "Mettre à jour", class:"btn btn-primary" %>
				<% end %>

				<%if @user.avatar.attached?%>
					<%= form_tag user_avatar_path(@user), method: "delete", style: "display: inline" do %>
					<%= submit_tag "Supprimer la photo", class:"btn submit-btn" %>
				<% end %>
			<% end %>
		<div class="show_user_head border-15">
			<% provide(:title, "Profil utilisateur") %><% end %>

			<p class="titre-dark">
				<%= @user.first_name %>
				<%= @user.last_name %></p>
			<p>
				<%= @user.birthdate %></p>
		</div>
		<div class="id-card row">
			<div class="col">
				<div >
					<h2>Présentation</h2>
					<p class="card-text"><%= @user.description %></p>
				</div>
			</div>
			<div class="col">
				<div>
					<h2>Contact</h2>
					<p class="card-text"><%= @user.email %></p>
				</div>
			</div>
		</div>
		<div class="infos-connexion">
			<%= link_to "Editer mon profil", edit_user_path(@user), class:"btn submit-btn" %>
			<%= link_to "Editer infos de connexion", edit_user_registration_path, class:"btn submit-btn" %>
			<%= link_to "Deconnexion", destroy_user_session_path, method: :delete, class:"btn submit-btn" %>
		</div>
		<div>
		<h2>Favoris</h2>
		<% Favorite.where(user_id: @user.id).each do |fav| %>
		<p><%= link_to Garden.find(fav.favoritable_id).name, garden_path(fav.favoritable_id) %></p>
		<% end %>
		</div>
		</div>

	</div>
</div>
