<center>
	<%= stylesheet_link_tag "users" %>

	<div class="main col-lg-10">
		<%if @user.avatar.attached?%>
			<%= image_tag @user.avatar, alt: 'avatar', class:'img-fluid avatar-user' %>
		<% else %>
			<div class="avatar-user"></div>
		<% end %>

		<% if current_user == @user %>
			<%= form_tag user_avatars_path(@user), multipart: true do %>
			<span class="btn btn-large btn-warning btn-file">
				<%if @user.avatar.attached?%>
					Modifie ta photo
				<% else %>
					Rajoute une photo
				<% end %>
				<%= file_field_tag :avatar %>
			</span>
			<%= submit_tag "Mettre à jour", class:"btn btn-primary" %>
		<% end %>

		<%if @user.avatar.attached?%>
			<%= form_tag user_avatar_path(@user), method: "delete", style: "display: inline" do %>
			<%= submit_tag "Supprimer la photo", class:"btn btn-light" %>
		<% end %>
	<% end %>
	<div class="show_user_head border-15 main col-lg-4">
		<% provide(:title, "Profil utilisateur") %><% end %>

		<p class="titre-dark">
			<%= @user.first_name %>
			<%= @user.last_name %></p>
		<p>
			<%= @user.birthdate %></p>
	</div>
	<div class="container col-lg-10">
		<div class="presentation border-15 col-lg-5">
			<div class="card-body">
				<h2>Présentation</h2>
				<p class="card-text"><%= @user.description %></p>
			</div>
		</div>
		<div class="contact border-15 col-lg-5">
			<div class="card-body">
				<h2>Contact</h2>
				<p class="card-text"><%= @user.email %></p>
			</div>
		</div>
	</div>
	<div class="coucou">
		<%= link_to "Editer mon profil", edit_user_path(@user), class:"btn btn-primary" %>
		<%= link_to "Editer infos de connexion", edit_user_registration_path, class:"btn btn-primary" %>
		<%= link_to "Deconnexion", destroy_user_session_path, method: :delete, class:"btn btn-primary" %>
	</div>
	<div> 
	<h2>Favoris</h2>
	<% Favorite.where(user_id: @user.id).each do |fav| %>
	<p><%= link_to Garden.find(fav.id).name, garden_path(fav.id)  %></p>
	<% end %>
	</div>
	<br><br>
</div>
<center>
