<h1>Bonjour <%= @garden_owner.first_name %> !</h1>

<p><%= @sender.first_name %> vous a envoyé le message suivant au sujet de votre potager <%= link_to @garden.name, garden_url(@garden, host: "127.0.0.1") %>.</p>

<p><b>Sujet:</b> <%= @subject %></p>
<p><b>Message:</b> <%= @message %></p>
