<div class="row justify-content-md-center p-4" style="margin-top:200px;">
  <div class="col-md-6">
      <div align="center">
          <h3>Envoyez un message à <%= @garden.name %></h3>
        
          <%= simple_form_for @contact, html: {class: 'form' } do |f| %>
            <%= f.input :garden, as: :hidden %>
            <%= f.input :user, as: :hidden %>
            <%= f.input :subject, :as => :text, :required => true %>
            <%= f.input :message, :as => :text, :required => true %>
            <div class= "hidden">
              <%= f.input :nickname, :hint => 'Leave this field blank!' %>
            </div>
            <div>
              <br>
              <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
            </div>
          <% end %>
        </div>
  </div>
</div>
