<!DOCTYPE html>
<html>

<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
  <h1>Bonjour
    <%= @user.name %> !</h1>
  <p>
    Vous avez reçu un nouveau message de
    <%= @user.login %> pour votre potager
    <%= to_garden.name %> .<br>
  </p>
  <p>
    Vous pouvez aller voir son potager ici:
    <%= @from_garden.id %>.
  </p>
  <p>
    Et lui répondre directement:
    <%= @url %>.
  </p>
  <p>Merci pour votre participation !</p>
</body>

</html>