<div class="container-fluid" style="height: 100vh;">
    <div class="row justify-content-md-center align-items-center">
      <div class="col-md-6">
        <h2 class="text-center m-4"></h2>
      </div>
    </div>
    <div class="row justify-content-md-center align-items-center">
      <%= render 'map_for_landing' %>
        <%= link_to @landing_map_message, new_user_registration_path, class: "noHover button-1 p-4", style: "position: absolute; top: 700px; z-index: 200" %> 
  </div>
  <div class="row justify-content-md-center align-items-center">
    <div class="col-md-6 m-4">
        <div class="card shadow p-4 mb-5 bg-white rounded">
            <p class="p-2">Ou entre un autre code postal :</p>
  
            <form>
              <div class="form-row p-1 mb-5 bg-grey rounded">
                <%= form_tag gardens_path, :method => 'get' do %>
                <%= text_field_tag :search_near, nil, placeholder: 'Entrez un autre code postal...', class: "col-8 btn bg-light text-left m-2 p-2" %>
                <%= button_tag type: 'submit', class: 'col-1 btn button-1 my-2 p-2' do %>
                <i class="fa fa-search" aria-hidden="true"></i>
                <% end %>
                <% end %>
              </div>
            </form>
          </div>
    </div>
  </div>

</div>