<div class="container-fluid" style="min-height: 100vh;">
 <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag('slide1', class:'d-block w-100') %>
    </div>
    <div class="carousel-item">
      <%= image_tag('slide2', class:'d-block w-100') %>
    </div>
    <div class="carousel-item">
      <%= image_tag('slide3', class:'d-block w-100') %>
    </div>

    <div class="col-5 mx-auto text-center carousel-caption">
      <h2>Le site pour troquer ses fruits et légumes avec les jardins du coin</h2>
      <form>
        <div class="form-row shadow-sm p-1 mb-5 bg-grey rounded">
          <%= form_tag gardens_path, :method => 'get' do %>
          <%= text_field_tag :search_near, nil, placeholder: 'Entrez votre code postal...', class: "col-8 btn bg-light text-left m-2 p-2" %>
          <%= button_tag type: 'submit', class: 'col-1 btn btn-yeah2 my-2 p-2' do %>
          <i class="fa fa-search" aria-hidden="true"></i>
          <% end %>
          <% end %>
        </div>
      </form>
    </div>
  </div>

  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<%= render 'static/user_experience_guide' %>
