<span style="font-weight: bold"><%= garden.name %></span><br />
<% puts garden %>
<%= garden.zipcode %> <%= garden.city %><br />
<%= garden.country %><br />
<!-- "link_to" tag here doesn't work -->
  <em><a href="gardens/<%= garden.id %>">Voir la fiche</a></em>
