<div class="container-form">
  <div class="container-card row justify-content-md-center align-items-center">
    <div class="col col-md-5 col-sm3">
      <div class="card border shadow-lg p-4">
    <h2>
      Edite ton potager !
    </h2>
    <div class="form-inputs">
    <%=form_tag url_for(action: 'update'), method: "patch" do %>
    <%= label_tag 'Nom de ton potager' %>
    <%= text_field_tag 'gardenname', @garden.name, class:'form-control' %>
    <br/>

    <%= label_tag 'Adresse de ton potager' %>
    <%= text_field_tag 'adress', @garden.adress, class:'form-control' %>
    <br/>

    <%= label_tag 'Tes Récoltes' %>
    <% @products.each do |product| %>
    <%= text_field_tag 'productname', product.name, class:'form-control' %>
    <% end %>
    <br/>

    <%= submit_tag "Edite ton Potager!", class:"btn submit-btn" %>
  <% end %>
</div>
</div>
</div>
</div>
