<div class="container">
  <div class="container-form">
    <div class="container-card row justify-content-md-center align-items-center">
      <div class="col col-md-8 col-sm5 col-lg-7 col-xl-7">
        <div class="card border shadow-lg p-4">
          <h2>
            Modifie ton potager !
          </h2>
          <div class="form-inputs">
            <%=form_tag url_for(action: 'update'), method: "patch" do %>
            <%= label_tag 'Nom de ton potager' %>
            <%= text_field_tag 'adress', @adress, placeholder: 'Adresse de ton potager', class:'form-control' %>
            <%= label_tag 'Tes Récoltes' %>
            <%= text_field_tag 'productname1', @products[0].name , class:'form-control' %>
            <%= text_field_tag 'productname2', @products[1].name, class:'form-control' %>
            <%= text_field_tag 'productname3', @products[2].name, class:'form-control' %>
            <%= text_field_tag 'productname4', @products[3].name, class:'form-control' %>
            <%= text_field_tag 'productname5', @products[4].name, class:'form-control' %>
            <div class="form-actions">
              <%= submit_tag "Edite ton potager !", class:"btn submit-btn" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
