
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag('slide1', width:'100%', class:'d-block w-100') %>
       <div class="carousel-caption d-none d-md-block">
    <h2>Mon Potager</h2>
    <p>Vendez ou troquez le surplus de votre potager !</p>
  </div>
    </div>
    <div class="carousel-item">
      <%= image_tag('slide2', width:'100%', class:'d-block w-100') %>
    </div>
    <div class="carousel-caption d-none d-md-block">
    <h2>Mon Potager</h2>
    <p>Vendez ou troquez le surplus de votre potager !</p>
  </div>
      <div class="carousel-item">
      <%= image_tag('slide3', width:'100%', class:'d-block w-100') %>
    </div>
    <div class="carousel-caption d-none d-md-block">
    <h2>Mon Potager</h2>
    <p>Vendez ou troquez le surplus de votre potager !</p>
  </div>
  </div>

  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container">

 
 
  <div class="row">


    <div class="col gardens-list">
      <ul class="list-group">
        <% @search.each do |garden| %>
        <li class="list-item">
        <%= link_to garden.name, garden_path(garden) %>
        </li>
        <% end %>

      </ul>

      <div class="col card p-2 search">
        <%= simple_form_for :search,
          url: root_path,
          method: "GET",
          html: { class: 'form-inline' },
          remote: true do |f| %>

        <%= f.input :location, input_html: {value: "", placeholder: "filtrer par endroit"} %>
        <%= f.submit "Search", class: "btn btn-primary" %>

        <% end %>
      </div>
      <div>
        <ul class="list-group">
          <% @gardens.each do |garden| %>
          <li class="list-group-item">
            <%= link_to garden.name , garden_path(garden.id) %>
          </li>
          <% end %>
        </ul>
      </div>

    </div>
    <div class="col">
      <%= render 'map_for_index' %>
    </div>
  </div>
</div>
<div class='status-group'>
  <ul class="list-group">
    <% @status.each do |status| %>
      <li><%= link_to status.content, garden_path(status.user) %></li>
      <li>Par <%= status.user.first_name %></li>
      <% @date = ((Time.now - status.updated_at) / 86400 * 10).to_i %>
      <% if @date == 0 %>
      <li>Posté aujoud'hui</li>
      <% elsif @date == 1 %>
      <li>Posté hier</li>
      <% else %>
      <li>Il y a <%= @date %> jours</li>
      <% end %>
      <br>
    <% end %>
  </div>
</div>
