<%= stylesheet_link_tag "gardens" %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<div class="container col-lg-12">

	<div class="col-lg-7 gardenshow-1">
		<div class="div-status">
			<div class="flex-title">
				<h1><%= @garden.name %></h1>
				<% if current_user == @user %>
					<div><%=link_to "Editer le potager", edit_garden_path(@garden), class:"btn btn-light"%>
					</div>
				<% end %>
			</div>
			<% if @status.nil? %>

				<div class="status-user">

					<div id="cerclejaune"></div>
					<p class="para-strong"><%= "Pas de status pour ce jardin." %>
						<%= link_to 'Ajouter un status', new_user_status_path(@user) %></p>

				<% else %>

					<div class="status-user">

						<div id="cercle"></div>
						<p class="para-strong status-content"><%= @status.content %>
							<% if current_user == @user %>
							<%= link_to 'Nouveau statut', new_user_status_path(@user), class:"btn btn-primary" %>
							<% end %>
							<%= link_to 'Tous les statuts', user_statuses_path(@user), class:"btn btn-light" %>
					</div>

					<div class="howmanydays">
						<% if @how_many_days.to_i == 1 %>
							<p class="para-small">Posté hier</p>

							<% elsif @how_many_days.to_i == 0 %>
								<p class="para-small">Posté aujourd'hui</p>

							<% else %>
								<p class="para-small">Il y a
									<%= @how_many_days.to_i %>
									jours</p>
							<% end %>
						<% end %>
					</div>
				</div>
				<!-- fin de div div-status -->

				<div>
					<% @garden.images.each do |image| %>
						<%= image_tag(image, alt: 'garden_image', class:'img-fluid slider-photos') %>
					<% end %>

					<% if current_user == @user %>
						<%= form_tag garden_images_path(@garden), multipart: true do %>
						<span class="btn btn-large btn-warning btn-file">
							<%if @garden.images.attached?%>
								Rajoute une photo
							<% else %>
								Mets ta première photo
							<% end %>
							<%= file_field_tag :images %>
						</span>
						<%= submit_tag "Ajouter", class:"btn btn-primary" %>
					<% end %>

					<%if @garden.images.attached?%>
						<%= form_tag garden_image_path(@garden), method: "delete", style: "display: inline" do %>
						<%= submit_tag "Supprimer les images", class:"btn btn-light" %>
					<% end %>
				<% end %>
			<% end %>
		</div>

		<div class="products-garden">
			<h2>
				<i class="fas fa-carrot"></i>
				Les Produits</h2>

			<div class="legumes-garden">
				<div class="legumes-list">
					<% @products.each do |h| %>
						<p><%= h.name %></p>
					<% end %>
				</div>
			</div>
		</div>
		<!-- fin de div produits-garden -->

		<div class="map-garden">
			<h2>Sur la carte</h2>
			<%= render 'map_for_show' %>
		</div> <!-- fin de div map-garden -->
		<% puts "_________________________________________" %>
			<% puts @garden.favorites.where(user_id: current_user.id) %>
		<% puts "_________________________________________" %>

	<% if @garden.favorites.where(user_id: current_user.id).empty? %>
	    	<%=form_tag url_for(controller: 'favorites', action: 'create'), method: "post" do %>
				<%= hidden_field_tag(:garden, @garden) %>
				<%= submit_tag "Ajouter aux Favoris", class:"btn btn-yeah2"%>
  			<% end %>
	<% end %>
			<hr />
			<div class="near">
				<h2>Potagers proches</h2>
				<ul class="list-group">
					<% @nearby.each do |near| %>
					<%= link_to near.name, near, class: "list-group-item" %>
					<% end %>
				</ul>
			</div>
		</div>

		<!-- fin de div gardenshow-1 -->


	</div>
	<!-- fin de div gardenshow-1 -->

	<div class="col-lg-5 gardenshow-2">
		<%if @user.avatar.attached?%>
			<%= image_tag @user.avatar, alt: 'avatar', class:'img-fluid circle-avatar-user' %>
		<% else %>
			<div class="avatar-user"></div>
		<% end %>
		<div class="name-usergarden">
			<% if @user.first_name.nil? %>
				<p><%= link_to "Utilisateur Anonyme", user_path(@user), class:"titre-dark"%></p>
			<% else %>
			<p><%= link_to (@user.first_name + " " + @user.last_name), user_path(@user), class:"titre-dark"%></p>
			<% end %>
			<p class="interlign-name"><%= @garden.adress %></p>
		</div>

		<div class="description-usergarden">
			<p class="para-strong">Présentation</p>
			<p><%= @user.description %></p>
		</div>

		<button class="btn-yeah2">Envoyer un message</button>
		<div></div>
	</div>
	<!-- element comments -->
	<div class="card col-sm-8">
  		<ul class="list-group list-group-flush">
		    <% @comments.each do |com| %>
				<li class="list-group-item">
        			<%= (com.user.first_name + " " + com.user.last_name)%>
        			<%= com.content %>
				</li>
				<% if current_user == com.user %>
					<%= link_to "Supprimer" , {:controller => 'comments', :action => 'destroy', :id => com.id}, class:"btn btn-danger" %>
				<% end %>
    		<% end %>
  		</ul>
	</div>
	<div class="card-header col-sm-8">
    	<h3>
      		Ajouter un commentaire
    	</h3>
    	<br/>
    	<%=form_tag url_for(controller: 'comments', action: 'create'), method: "post" do %>
    		<%= label_tag 'Content' %>
    		<%= text_area_tag 'content', @content, class:'form-control' %>
			<%= hidden_field_tag(:garden, @garden) %>
    		<br/>
			<%= submit_tag "Commenter", class:"btn btn-yeah2"%>
  		<% end %>
  	</div>

	<!-- fav comments -->
