<div class="container">
  <%= stylesheet_link_tag "gardens" %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <div class="content-garden">
    <div class="row">
      <div class="col col-sm-12 col-md-12 col-lg-7">
        <div class="div-status">
          <div class="">
            <h1>
              <%= @garden.name %>
            </h1>
          </div>
          <div class="gardens-update-btn col-lg-7">
            <% if current_user == @user %>
            <span
              style="margin:0 10px 0 -15px"><%=link_to "Editer le potager", edit_garden_path(@garden), class:"btn submit-btn-ligth"%></span>
            <%= link_to 'Nouveau statut', new_user_status_path(@user), class:"btn submit-btn-ligth" %>
            <% end %>
          </div>
          <% if @status.nil? %>
          <div class="status-user">
            <div id="cerclejaune"></div>
            <%= "Pas de status pour ce jardin" %>
            <% else %>

            <div class="status-user">

              <div id="cercle" style="margin: 35px 0 0 0"></div>
              <p class="para-strong status-content" style="margin: 20px 20px 0px 15px">
                <%= @status.content %>
                <% if current_user == @user %>
                <% end %>
                <span style="margin-left:10px"><%= link_to 'Voir tous les statuts', user_statuses_path(@user) %></span>
            </div>

            <div class="howmanydays">
              <% if @how_many_days.to_i == 1 %>
              <p class="para-small">Posté hier</p>

              <% elsif @how_many_days.to_i == 0 %>
              <p class="para-small">Posté aujourd'hui</p>

              <% else %>
              <p class="para-small">Il y a
                <%= @how_many_days.to_i %>
                jours</p>
              <% end %>
              <% end %>
            </div>
          </div>
          <div>
            <% @garden.images.each do |image| %>
            <%= image_tag(image, alt: 'garden_image', class:'avatar-garden') %>
            <% end %>
            <% if current_user == @user %>
            <%= form_tag garden_images_path(@garden), multipart: true do %>
            <% if @garden.images.attached? %>
            <span class="btn btn-large submit-btn-ligth btn-file" style="margin-top:-40px">
              Rajoute une photo
              <% else %>
              <span class="btn btn-large btn-file">
                <%= image_tag('img-default.jpg', alt: 'garden_image', class:'avatar-garden') %>
                <% end %>
                <%= file_field_tag :images %>
              </span>
              <%= submit_tag "Ajouter", class:"btn submit-btn-ligth2" %>
              <% end %>
              <%if @garden.images.attached?%>
              <%= form_tag garden_image_path(@garden), method: "delete", style: "display: inline" do %>
              <%= submit_tag "Supprimer les images", class:"btn submit-btn-ligth3" %>
              <% else %>
              <% end %>
              <% end %>
              <% end %>
          </div>

          <div class="products-garden">
            <h1>Les Produits <a></h1>
            <div class="legumes-garden">
              <div class="legumes-list">
                <% @products.each do |h| %>
                <p>
                  <%= h.name %>
                </p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-sm-12 col-md-12 col-lg-5">
          <div class="gardenshow-2">
            <div class="container-pic d-flex">
              <%if @user.avatar.attached? %>
              <%= image_tag @user.avatar, alt: 'avatar', class:'avatar-user circle-avatar-user' %>
              <% else %>
              <div class="avatar-user circle-avatar-user"></div>
              <% end %>
            </div>
            <div class="name-usergarden">
              <% if @user.first_name.nil? %>
              <p>
                <%= link_to "Utilisateur Anonyme", user_path(@user), class:"titre-dark"%>
              </p>
              <% else %>
              <p class="titre-dark">
                <%= (@user.first_name + " " + @user.last_name)%>
                </h1>
                <% end %>
                <p class="interlign-name">
                  <%= @garden.adress %>
                </p>
            </div>
            <div class="description-usergarden">
              <p class="titre-dark text-center" style="margin: 0">Présentation</p>
              <p class="text-center" style="padding:0px 30px 0 30px">
                <%= @user.description %>
              </p>
            </div>
            <div class="send-message" style="margin:50px 0 0 0">
              <%= link_to "Envoyer un message", "#modal", class: 'btn submit-btn', "data-toggle": "modal" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h1 style="margin: 30px 0 20px 0">Sur la carte</h1>
    <div class=" col-lg-12">
      <div class="col">
        <%= render 'static/map_for_landing' %>
      </div>
    </div>

    <div class="favorite-button ">
      <% if @garden.favorites.where(user_id: current_user.id).empty? %>
      <span><%=form_tag url_for(controller: 'favorites', action: 'create'), method: "post" do %></span>
      <%= hidden_field_tag(:gardenid, @garden.id) %>
      <%= submit_tag "Ajouter ce jardin en favoris", class:"btn submit-btn2 col col-sm-12 col-md-12 col-lg-12 col-xl-12"%>
      <% end %>
      <% end %>
    </div>

    <div class="card col-lg-12 comment-content">
      <ul class="list-group list-group-flush">
        <% @comments.each do |com| %>
        <li class="list-group-item">
          <p class='para-strong'><%= (com.user.first_name + " " + com.user.last_name) %></p>
          <%= com.content %>
        </li>
        <% if current_user == com.user %>
        <%= link_to "Supprimer" , garden_comment_path(@garden, com.id), method: 'delete', class:"btn btn-light col-md-2" %>
        <% end %>
        <% end %>
      </ul>
    </div>
    <div class=" card-header col col-lg-12">
      <div class="">
        <h3>
          Ajouter un commentaire
        </h3>
        <%=form_tag garden_comments_path(@garden), method: "post" do %>
        <%= label_tag 'Content' %>
        <%= text_area_tag 'content', @content, class:'form-control' %>
        <%= hidden_field_tag(:id, @garden.id) %>
        <br />
        <%= submit_tag "Commenter", class:"btn submit-btn-ligth"%>
        <% end %>
      </div>
    </div>
    <div id="modal" class="modal hide fade" tabindex="-1" role="dialog" title="Envoyer un message">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              <% image_tag "logo", style:"width=100px;" %> Envoyer un message</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= form_with(url: contactmail_path, id: 'msg-form') do |f| %>
            <%= f.hidden_field :garden_id, value: @garden.id %>
            <%= f.hidden_field :current_user_id, value: current_user.id %>
            <div class="form-group">
              <label for="subject">Objet</label>
              <%= f.text_field :subject, id: "subject", class: 'form-control p-2', placeholder: "Objet du message", :required => true %>
            </div>
            <div class="form-group">
              <label for="message">Message</label>
              <%= f.text_field :message, id: "message", class: 'form-control p-2', placeholder: "Texte du message", :required => true %>
            </div>
            </br>
            <%= button_tag type: 'button', class: 'btn submit-btn-ligth my-2 p-2', "data-dismiss": "modal" do %>
            Annuler
            <% end %>
            <%= button_tag  type: 'submit', class: 'btn submit-btn my-2 p-2', id: 'send-btn' do %>
            Envoyer
            <% end %>
            <% end %>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
      </div>
  </div>

    <script>
      $(document).ready(function () {
        $('#send-btn').mouseup(function() {
          $('#modal').modal('toggle');
        });
      });
    </script>
    