<nav>
  <div class="navbar">
    <div>
      <%= link_to (image_tag('logo', width:200)), root_path %>
    </div>
    <div class="connexion-info">
      <% if user_signed_in?  %>
        <% if !current_user.gardens.empty? %>
            <%= link_to 'Voir mon potager', garden_path(current_user.gardens.last.id), class: "nav-create noHover" %>
        <% else %>
            <%= link_to 'Créer mon potager', new_garden_path, class: "nav-create noHover button-1 " %>
        <% end %>
          <%= link_to "Mon profil", user_path(current_user), class: "nav-create noHover" %>
          <%= link_to "Deconnexion",destroy_user_session_path, method: :delete, class: "nav-create noHover nav-item" %>
      <% else %>
          <%= link_to "Créer mon potager", new_user_registration_path, class: "nav-create noHover nav-item button-1" %>
          
      <% end %>
    </div>
  </div>

  <form>
    <div class="col-5 nav-research">
      <div class="form-row">
        <div>
          <i class="fa fa-search" aria-hidden="true"></i>
          <%= form_tag gardens_path, :method => 'get' do %>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "rechercher" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
