<nav class="homepage" >
  <div class="navbar">
    <div class="col-12 col-md-4 col-lg-4" >
      <%= link_to (image_tag('logo', width:'60%')), root_path %>
    </div>

		<div class="nav-research col-md-4">
          <form class: "form-inline row">
                  <%= form_tag gardens_path, :method => 'get' do %>
										<%= text_field_tag :search,
												params[:search],
												placeholder: "Entrez votre recherche...",
												style: "width: 100%;",
												class: "form-control-plaintext" %>
                    <% end %>
						</form>
            </div>

    <div class="connexion-info col-md-4">

				<% if user_signed_in?  %>
					<% if !current_user.gardens.empty? %>
					<div class="col-sm-12 col-md-6 col-lg-auto">
						 <%= link_to 'Voir mon potager', garden_path(current_user.gardens.last.id), class: "noHover" %>
					</div>
					<% else %>
					<div class="col-sm-12 col-md-6 col-lg-auto">
						 <%= link_to 'Créer mon potager', new_garden_path, class: "noHover button-1 " %>
					</div>
					<% end %>
					<div class="col-sm-12 col-md-6 col-lg-auto">
						 <%= link_to "Mon profil", user_path(current_user), class: " noHover" %>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-auto">
						 <%= link_to "Deconnexion",destroy_user_session_path, method: :delete, class: "noHover nav-item" %>
					</div>
				<% else %>
						<div class="col-sm-12 col-md-6 col-lg-auto">
						  <%= link_to "Me connecter", new_user_session_path, class: " noHover" %>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-auto">
							  <%= link_to "Créer mon potager", new_user_registration_path, class: "noHover button-1" %>
						</div>
				<% end %>
    </div>
  </div>
</nav>
