<nav class="navbar">
  <div ><%= link_to(image_tag('logo', width:350))  %>
  </div>
  <form class="nav-research col-lg-5">
    <div class="form-row"> 
      <div ><i class="fas fa-search" aria-hidden="true"></i>
      </div>
      <div class="col-5">
      <%= form_tag gardens_path, :method => 'get' do %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "rechercher" %>
      <% end %>
      </div>
      <div ><i class="fas fa-carrot"><i class="fas fa-map-marker-alt"></i></i></div>
    </div>
  </form>
  <div class="connexion-info">
    <% if user_signed_in?  %>
      <li class="nav-item">
        <%= link_to "Deconnexion",destroy_user_session_path, method: :delete, class: "nav-create noHover" %>
      </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Creer mon potager", new_user_registration_path, class: "nav-create noHover" %>
        </li>
        <li class="nav-item">
          <%= link_to "Me connecter", user_session_path, class: "nav-connexion noHover" %>
        </li>
      <% end %>
  </div>
</nav>