<!DOCTYPE html>
<html>
  <head>
    <title>MonPotager</title>

    <%= render 'layouts/navbar' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  
    </head>

  <body>
    <h1>Titre 1</h1>
    <h2>Titre 2</h2>
    <p>Ceci est un paragraphe simple.</p>
    <p class="titre-dark">Ceci est un titre dark</p>
    <p class="para-strong">Ceci est un para strong</p>
  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
    <%= yield %>
    </body>
  <%= render 'layouts/footer' %>
</html>
